extends layout

block scripts
  script(type='text/javascript', src='/javascripts/lib/jquery.js')
  script(type='text/javascript', src='/javascripts/lib/three.min.js')
  script(type='text/javascript', src='/javascripts/lib/stats.js')
  script(type='text/javascript', src='/javascripts/lib/threex.renderstats.js')

block content